<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Siler Hotwire Test</title>
  <script type="module" src="https://cdn.skypack.dev/@hotwired/turbo" defer></script>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a> |
      <a href="/about">About</a>
    </nav>
  </header>
  {% block content %}{% endblock %}
</body>
</html>
